<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mailie</title>
        <link rel="stylesheet" href="../resources/css/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="home.html" class="active">Home</a>
                <a href="hobbies.html">Hobbies</a>

                <h1 class="site-name">Mailie</h1>

                <a href="projects.html">Projects</a>
                <a href="resume.html">Resume</a>
            </nav>
        </header>

        <main>

            <h1 class="page-title">My Hobbies</h1>

            <section>

                <div class="card-container">
                    <article class="card">
                        <h2>Gaming</h2>
                        <p>
                            I enjoy playing video games with friends! I have been playing games
                            for as long as I can remember, with Minecraft Pocket Edition being one my 
                            first ones. I was gifted my first PC in 2020 and have since played many different 
                            games. I am currently playing Minecraft, Valorant, Fae Farm, and Luma Island. 
                            Loftia is next on my list once released!
                        </p>
                    </article>

                    <article class="card">
                        <h2>Shopping</h2>
                        <p>
                            Shopping is one of my favorite hobbies! I can never keep the money I earn as a 
                            shopping addict haha. I love exploring clothing stores (including thrift stores)
                            and discovering unique items that reflect my personal style. 
                        </p>
                    </article>

                    <article class="card">
                        <h2>Spending Time With Friends</h2>
                        <p>
                            Spending quality time with friends is one of my favorite activities. Whether we
                            are exploring local spots, trying out new restaurants, or just hanging out, I 
                            deeply value the the laughter and connection that comes with good company. For me,
                            investing time in these relationships is the perfect balance to a busy week and a 
                            constant source of great memories.
                        </p>
                    </article>

                </div>

            </section>

        </main>

         <footer>
            <p>
                Connect with me on 
                <a href="https://www.linkedin.com/in/mailie-voraphankit/" target="_blank">
                    LinkedIn
                </a>
            </p>
        </footer>
    </body>
</html>