<!DOCTYPE html>
<html lang ="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mailie</title>
        <link rel="stylesheet" href="../resources/css/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="home.html" class="active">Home</a>
                <a href="hobbies.html">Hobbies</a>

                <h1 class="site-name">Mailie</h1>

                <a href="projects.html">Projects</a>
                <a href="resume.html">Resume</a>
            </nav>
        </header>
        <main>
            <section class="about-section">
                <img
                    src="../resources/img/me.JPG"
                    alt="Photo of Mailie"
                    class="profile-image"
                >
                <div class="about-text">
                    <h2>About Me!</h2>
                    <p>Hi! My name is Mailie-Aarya Voraphankit (My-lee Uh-rye-uh Vor-uh-fan-kit)
                        and raised in Las Vegas, NV. I am currently a sophomore at the University of Colorado Boulder,
                        majoring in Computer Science. 
                    </p>

                    <a href="projects.html" class="button">View My Projects</a>
                </div>
            </section>
        </main>
        
        <footer>
            <p>
                Connect with me on 
                <a 
                    href="https://www.linkedin.com/in/mailie-voraphankit/" 
                    target="_blank"
                >
                    LinkedIn
                </a>
            </p>
        </footer>
    </body>
</html>