<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mailie</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >

    <link
        rel="stylesheet"
        href="../resources/css/styles.css"
    >
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">

                <!-- Bootstrap mobile navigation button -->
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainNavigation"
                    aria-controls="mainNavigation"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse justify-content-center"
                    id="mainNavigation"
                >
                    <div class="navbar-nav align-items-center gap-lg-4">

                        <a
                            class="nav-link"
                            href="home.html"
                        >
                            Home
                        </a>

                        <a
                            class="nav-link"
                            href="hobbies.html"
                        >
                            Hobbies
                        </a>

                        <h1 class="site-name mb-0">
                            Mailie
                        </h1>

                        <a
                            class="nav-link"
                            href="projects.html"
                        >
                            Projects
                        </a>

                        <a
                            class="nav-link active fw-bold"
                            aria-current="page"
                            href="resume.html"
                        >
                            Resume
                        </a>

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">

        <h1 class="page-title">Resume</h1>

        <section class="row g-4">

            <div class="col-12">
                <section class="resume-section">

                    <h2>Education</h2>

                    <h3>University of Colorado Boulder</h3>
                    <h5>2025-2029</h5>
                    <p>
                        Bachelor of Science in Computer Science
                    </p>

                </section>
            </div>

            <div class="col-md-6">
                <section class="resume-section">

                    <h2>Experience</h2>

                    <h3>Caddie Academy Counselor</h3>
                    <h5>WGA Caddie Academy</h5>
                    <h6>Lake Forest, IL</h6>

                    <p>
                        Mentors and supports high school participants
                        through a summer residential program focused on
                        caddying and professional development.
                    </p>

                    <h3>Hasher</h3>
                    <h5>Tri Delta</h5>
                    <h6>Boulder, CO</h6>

                    <p>
                        Support daily meal operations by washing dishes,
                        maintaining cleanliness, organizing kitchen
                        supplies, and managing the food line. Developed
                        reliability, teamwork, and efficiency in a
                        fast-paced environment.
                    </p>

                    <h3>Golf Caddie</h3>
                    <h5>Evanston Golf Club</h5>
                    <h6>Evanston, IL</h6>

                    <p>
                        Developed communication, professionalism, work 
                        ethic, and interpersonal skills through hands-on 
                        caddying experience.
                    </p>

                </section>
            </div>

            <div class="col-md-6">
                <section class="resume-section">

                    <h2>Skills</h2>

                    <ul>
                        <li>Programming</li>
                        <li>Git and GitHub</li>
                        <li>HTML and CSS</li>
                        <li>Data Science</li>
                    </ul>

                </section>

                <section class="resume-section">

                    <h2>Awards and Certifications</h2>

                    <h3>Chick Evans Scholarship</h3>
                    <h4>Western Golf Association</h4>
                    <p>Awarded February 2025</p>

                    <h3>Intro to Technical Interview Prep Certificate</h3>
                    <h4>CodePath</h4>
                    <p>Issued August 2026</p>
                    <p>Credential ID 9a2edf6d-5877-4d6e-9047-2fdc64e1e1fe</p>

                </section>
            </div>

            <a href="../resources/resume.pdf" class="btn btn-primary" target="_blank" role="button">
                        Download Resume
            </a>

        </section>
    
    </main>

    <footer>
        <p>
            Connect with me on
            <a
                href="https://www.linkedin.com/in/mailie-voraphankit/"
                target="_blank">
                LinkedIn
            </a>
        </p>
    </footer>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    </script>
</body>

</html>
```
